body{
    background-color:antiquewhite;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}

.container{
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    /* background-color: aqua; */
    max-width: 80vw;
    margin: auto;
}
.container h1{
    text-align: center;
    font-style:normal;
    margin-top: 23px;
}

.container form{
    display: flex;
    flex-direction: column;
}
.container form button{
    
    width: auto;

    border-radius: 13px;
    padding: 15px;
    /* margin-top: 18px; */
    padding-left: 33px;
    padding-right: 33px;
    margin: auto;
}
.container form label{
    font-size: 21px;
    margin-bottom: 12px;
    margin-top: 18px;
    text-align: center;
}

.container form select{
     width: auto;
     height: 33px;
     font-size: 18px;
     margin-bottom: 18px;
}
.container form select option{
    text-align: center;
}


.container form input[type='number'],input{
    font-size: 19px;
    
    text-align: center;
    width: auto;
    height: 33px;
    /* background-color: white */
    margin-bottom: 23px;

}
nav {
    
    font-family: 'Noto Sans', sans-serif;
    font-weight: 900;
    /* display: flex; */
    font-size: 20px;
    background-color: white;
    padding: 23px;
}

nav li a {
    text-decoration: none;
    color: rgb(2, 3, 18);
    transition: all;
    transition-duration: 500ms;
}
nav li a:hover{
    text-decoration: none;
    color: rgb(44, 210, 219);
    transition-duration: 800ms;
}

div.logo:hover{
    color: rgb(123, 4, 6);
    transition-duration: 3s;
}

div.logo {
    /* font-stretch:expanded; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin: 0 23px;
    font-size: 24px;
}

nav ul li {
    list-style: none;
    margin: 0 22px;
}

nav ul{
    display: none;
    /* display: flex; */
    margin-top: 13px;
}

.output h2{
    font-size: 28px;
    text-align: center;
}
.output{
    display: none;
    
    align-items: center;
    justify-content: center;
}

.output table{
    /* width: 70vw; */
    width: auto;
    margin: auto;
    /* align-items: center; */
    text-align: center;
    font-size: 20px;
    border: 2px solid black;
    /* margin: auto; */
}
.output table th{
    padding: 15px;
}




footer{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}