@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #A594F9;
}

.main-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.ta-wrapper {
  background: #3c424a;
  color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 7px 7px rgb(0 0 0 / 20%);
  min-height: 300px;
}

.heading h1 {
  text-align: center;
  color: white;
  font-size: 40px;
  margin-bottom: 10px;
}

.input-wrapper {
  margin-bottom: 20px;
}
.input-wrapper input {
  outline: none;
    border: 0;
    background: rgba(0,0,0,0.3);
    padding: 10px;
    color: white;
    width: 350px;
}
.input-wrapper button {
  background: #A594F9;
    color: white;
    border: 0;
    padding: 10px;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
}
.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  padding-bottom: 10px;
}
.todo-item input {
  background: transparent;
  border: navajowhite;
  color: white;
  outline: none;
}
.todo-item i{
  color: #A594F9;
  background: transparent;
  border: 1px solid;
  border-radius: 50%;
  padding: 6px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  margin-left: 5px;
}
.todo-item button:hover {
  color: white;
}
.done {
  text-decoration: line-through;
}
.fa-x {
  padding: 6px 8px !important;
}